body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  position: relative;
  background-image: url('../images/light-grey-terrazzo.png');
}

h1,
h2,
h3,
h4 {
  color: #666666;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

nav {
  height: 50px;
}

h2 {
  color: #4aaaa5;
}


footer {
  width: 100%;
  height: 50px;
  color: #ffffff;
  background: #666666;
  position: fixed;
  border-top: 10px solid #4aaaa5;
  bottom: 0; 
  left: 0; 
}

form {
  padding-bottom: 10px;
}

footer .container {
  text-align: center;
  color: #ffffff;
}

/* needed to change font color */
.navbar-b-custom {
  color: #ffffff;
  /* border-bottom: 3px;
  border-color: #666666; */
}

.navbar-brand {
  font-weight: bold;
  background-color: #4aaaa5;
  padding: 10px;
  margin: auto;
}

.navbar ul.navbar-nav li.nav-item a.nav-link {
  background-color: #f9f9f9;
}

/* Controls main Content*/
.content {
  max-width: 960px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid #dddddd;
}

.page {
  margin: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-variant {
background-color: #4aaaa5;
color: #ffffff;
}

.btn-variant:hover {
  background-color: #33767e;
}

/* Portfolio image divs */
.project {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 5px;
}

/* Overlay to porfolio images */
.overlay {
  width: 100%;
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  color: #ffffff;
  background-color: #4aaaa5;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* background images for projects */
.rpg {
  background-image: url(../images/rpg.jpeg);
  background-size: 100%;
}

.hangman {
  background-image: url(../images/hangman.png);
  background-size: 100%;
}

.trivia {
  background-image: url(../images/trivia.jpg);
  background-size: 100%;
}

.rutgers {
  background-image: url(../images/rutgers.PNG);
  background-size: 100%;
}

.rpsls {
  background-image: url(../images/RPSLS.png);
  background-size: 100%;
}


/* controls picture in About Me */
#me {
  margin-bottom: 10px;
  float: left;
  padding-right: 10px;
}

@media (min-width: 768px){
  p {
    margin-left: 20px;
  }

  nav .container {
    max-width: 960px;
    padding: 0;
    
  }
  .content {
    margin-top: 70px;
    
  }

  #me {
    width: 350px;
    height: 200px;
    padding-left: 20px;
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .project {
    display: block;
    margin: 10px auto 10px auto;
  }
}